{% extends 'base.html.twig' %}

{% block title %} {{ category.name }} {% endblock  %}

{% block body %}

<main class="container">
        <section class="row">
            <div class="col-12">
                <h1>Liste des articles de la catégorie {{ category.name }}</h1>
            </div>

            {% for article in articles %}

            <div class="col-3 mb-3">
                <div class="card h-100">
                    <div class="card-body">
                        <h2 class="card-title">{{ article.title }}</h2>
                        <p class="card-text">{{ article.content }}</p>
                        <a href="{{ path('articles_article', { 'slug': article.slug }) }}" class="btn btn-primary">Lire</a>
                    </div>
                </div>
            </div>

        {% endfor %}

                
        </section>
    </main>   
    
{% endblock %}